
.close-circle-icon {
  /* position: absolute;
  top: 30px;
  left: 428px; */
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-top: 10px;
}
.success-kite-1-icon {
  position: relative;
  width: 318px;
  height: 286px;
  object-fit: cover;
}
.johnmarkgmailcom {
  font-weight: 500;
  color: var(--primary-main);
}
.your-video-link-container1 {
  line-break: anywhere;
  width: 100%;
}
.your-video-link-container {
  /* position: relative; */
  display: flex;
  align-items: center;
  width: 348px;
  /* background-color: gray; */
}
.success-kite-1-parent {
  /* position: absolute;
  top: 0;
  left: calc(50% - 174px); */
  height: 286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.overlay-parent {
  /* position: absolute; */
  /* top: calc(50% - 484px);
  left: calc(50% - 298.5px); */
  border-radius: var(--br-5xl);
  background-color: #f2f4f7;
  width: 508px;
  height: 674px;
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.overlay-header{
    width: 100%;
    height: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    ;
}
.would-you-need {
  position: relative;
  display: inline-block;
  width: 370px;
}
.frame-wrapper5,
.would-you-need-to-view-this-vi-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.frame-wrapper5 {
    width: 150px;
    height: 51px;
  border-radius: var(--br-5xs);
  background-color: var(--primary-main);
  padding: var(--padding-base) var(--padding-13xl);
  font-size: var(--typography-button-b2-size);
  color: var(--pastel-bg);
}
.frame-wrapper5:hover{
    background-color: var(--primary-primary-900);
}
.would-you-need-to-view-this-vi-parent {
  gap: var(--gap-5xl);
}
.span {
  font-weight: 600;
  font-family: var(--typography-subheader-sh2);
  color: var(--primary-main);
}
.dont-have-an-container1 {
  position: relative;
  font-size: var(--typography-button-b2-size);
  color: var(--color-gray-300);
}
.frame-parent4 {
  /* position: absolute;
  top: 934px;
  left: calc(50% - 218.5px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: var(--gap-21xl);
  font-size: var(--typography-body-b1-size);
  color: var(--color-gray-600);
  /* background-color: blue; */
  margin-bottom: 30px;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(251, 7, 7, 0.32); */
    background-color: rgba(0, 0, 0, 0.32);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay {
  /* position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0; */
  width: 508px;
  height: 674px;
  /* position: absolute;
  left: 50%;
  top: 50%; */
  /* overflow: hidden; */
  flex-shrink: 0;
  z-index: 3;
  text-align: center;
  /* background-color: aqua; */
  color: var(--primary-primary-900);
}
.your-recording-is-ready-1440 {
  position: relative;
  border-radius: var(--br-xs);
  background-color: var(--secondary-main);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-45xl);
  text-align: left;
  font-size: var(--typography-subheader-sh1-size);
  color: var(--grey);
  font-family: var(--typography-button-b2);
}




/* -------------------------------- set frame --------------------------------------- */

.frame{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.5s ease-in-out ;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;

}

.frame.open{
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

.frame div{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;

}

.frame.open{
  color: #fff;
}
.frame.open > .close_icon{
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 5px;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.4);
  /* background-color: grey; */
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}