.icon-7-1 {
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}

.helpmeout,
.icon-7-1 {
  position: relative;
}

.icon-7-1-parent,
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-7-1-parent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.logo {
  justify-content: center;
}

.arrow-down-icon,
.profile-circle-icon {
  position: relative;
  width: 40px;
  height: 40px;
}

.arrow-down-icon {
  width: 24px;
  height: 24px;
}

.nav,
.profile-circle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-circle-parent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-gray-200);
  font-family: var(--typography-button-b3);
}

.nav {
  /* position: absolute;
    top: 182px;
    left: calc(50% - 720px); */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 1200px;
  justify-content: space-between;
  /* padding: var(--padding-5xs) var(--padding-81xl); */
  box-sizing: border-box;
  font-size: var(--typography-body-b2-size);
  color: var(--primary-primary-600);
  font-family: var(--font-inter);
}

.here-are-your {
  position: relative;
  font-size: var(--typography-body-b1-size);
  font-family: var(--typography-button-b3);
  color: rgba(20, 20, 20, 0.7);
}

.salutation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}

.search-normal-icon {
  position: relative;
  width: 20px;
  height: 20px;
}

.inputfield {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.search-bar {
  border-radius: var(--inner-radius);
  background-color: rgba(182, 179, 198, 0.14);
  border: 1px solid var(--primary-primary-50);
  box-sizing: border-box;
  width: 400px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-21xl) var(--padding-5xl) var(--padding-5xl);
  font-size: var(--typography-button-b3-size);
  color: #c3c3c3;
  font-family: var(--typography-button-b3);
}

.inputfield>.helpmeout {
  width: 100%;

}

.inputfield>.helpmeout>input {
  width: 100%;
  background: transparent;
  color: rgb(52, 51, 51);
  border: none;
  outline: none;
}

.top-content {
  /* position: absolute; */
  /* top: 278px;
    left: 100px; */

  margin: 0 auto;

  width: 1200px;
  /* width: 1240px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--typography-header-h4-size);
  color: var(--color-gray-200);
  font-family: var(--typography-header-h4);
}

.timeline {
  position: relative;
  font-weight: 500;
}

.video-duration1 {
  position: absolute;
  right: 8px;
  bottom: 8px;
  border-radius: var(--br-9xs);
  background-color: var(--primary-primary-50);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
}

.video-frame1 {
  align-self: stretch;
  border-radius: var(--inner-radius);
  height: 208px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url("/public/icons/help_assets/video frame-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.date1,
.title1,
.video-frame1 {
  position: relative;
}

.title1 {
  text-transform: capitalize;
  font-weight: 500;
}

.date1 {
  font-size: var(--typography-body-b2-size);
  text-transform: uppercase;
  color: var(--primary-primary-100);
}

.details1,
.icons1,
.titledate1 {
  display: flex;
  align-items: flex-start;
}

.titledate1 {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-5xs);
}

.details1,
.icons1 {
  flex-direction: row;
}

.icons1 {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}

.details1 {
  align-self: stretch;
  justify-content: space-between;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}

.web-card1 {
  border-radius: var(--outer-radius);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-lightsteelblue-100);
  box-sizing: border-box;
  width: 557px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
  gap: var(--gap-5xl);
  cursor: pointer;
}

.video-frame2 {
  align-self: stretch;
  position: relative;
  border-radius: var(--inner-radius);
  height: 208px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url("/public/icons/help_assets/video frame-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.videos,
.web-card2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.web-card2 {
  border-radius: var(--outer-radius);
  background-color: var(--color-gray-400);
  border: 1px solid var(--color-lightsteelblue-100);
  box-sizing: border-box;
  width: 557px;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-base) var(--padding-5xl);
  gap: var(--gap-5xl);
}

.videos {
  flex-direction: row;
  gap: var(--gap-45xl);
  font-size: var(--typography-button-b3-size);
  color: var(--primary-primary-900);
}

.recent-videos {
  /* position: absolute;
    top: 430px;
    left: 100px; */
  width: 1178px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}

.video-frame3 {
  align-self: stretch;
  position: relative;
  border-radius: var(--inner-radius);
  height: 208px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url("/public/icons/help_assets/video frame-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.video-frame4 {
  align-self: stretch;
  position: relative;
  border-radius: var(--inner-radius);
  height: 208px;
  overflow: hidden;
  flex-shrink: 0;
  background-image: url("/public/icons/help_assets/video frame-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.recent-videos1 {
  /* position: absolute;
    top: 837px;
    left: 100px; */
  width: 1178px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}

.whole-length {
  position: absolute;
  top: 0;
  right: 1px;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  width: 4px;
  height: 578px;
}

.current-level,
.scroller {
  position: absolute;
  width: 6px;
}

.current-level {
  top: 0;
  right: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-gainsboro-400);
  height: 244.43px;
}

.scroller {
  top: 475px;
  right: 100px;
  height: 578px;
}

.video-repository-child {
  /* position: absolute;
    top: 389.5px;
    left: -0.5px; */
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 1541px;
  height: 1px;
}

.video-repository {
  position: relative;
  background-color: var(--light-frame-foreground);
  width: 100%;
  height: 1230px;
  overflow: hidden;
  text-align: left;
  font-size: var(--typography-body-b1-size);
  color: var(--color-gray-300);
  font-family: var(--typography-button-b3);
}